<ion-header>
  <ion-navbar>
    <ion-title>
      Project J Home
    </ion-title>
    <ion-buttons end>
      <button ion-button  block type="button" (click)="logOut()">
        Logout
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p *ngIf="useremail">Logged in as: {{useremail}}</p>
  <p *ngIf="userphone">Logged in with: {{userphone}}</p>
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Search for a place"></ion-searchbar>
  </ion-toolbar>
  
  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>
</ion-content>

