<ion-header>
  <ion-navbar>
    <ion-grid>
        <ion-row>
            <ion-col col-2>
                <ion-buttons>
                    <button ion-button menuToggle>
                      <ion-icon name="menu"></ion-icon>
                    </button>
                    </ion-buttons>
            </ion-col>
              <ion-col>
                  <div>
                      
                        <ion-title>
                          Project J Home
                        </ion-title>
                    </div>   
              </ion-col>
           
              
              <ion-col>
                  <ion-buttons end>
                      <button ion-button  block type="button" (click)="logOut()">
                        Logout
                      </button>
                    </ion-buttons>   
              </ion-col>
          </ion-row>
    </ion-grid>
      


    
    
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p *ngIf="useremail">Logged in as: {{useremail}}</p>
  <p *ngIf="userphone">Logged in with: {{userphone}}</p>
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Search for a place"></ion-searchbar>
  </ion-toolbar>
  
  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable >
      {{ item.description }}
      <button ion-button clear icon-start float-right (click)="selectSearchResult(item)">
        <ion-icon name='add-circle' is-active="false"></ion-icon>
        Add
      </button>
    </ion-item>
  </ion-list>
</ion-content>

